#rest-of-website-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Nav */

#nav {
    align-items: center;
    background-color: black;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.nav-element {
    flex: 1;
    padding: 5px;
}

.nav-button .text {
    display: block;
}

.nav-button .icon {
    display: none;
}

@media (max-width: 1000px) {
    .nav-button .text {
        display: none;
    }
    
    .nav-button .icon {
        display: block;
    }
}

#simulation-key-container {
    align-items: center;
    border: 1px dashed white;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.simulation-key-element {
    margin: 0px 5px;
}

#simulation-key-label {
    flex: 1;
}

@media (max-width: 1000px) {
    #simulation-key-label {
        display: none;
    }
}

#simulation-key-value {
    background-color: white;
    border: none;
    border-radius: 5px;
    flex: 1;
    font-weight: 500;
    text-align: center;
    width: 100%;
}

#input-simulation-key {
    color: red;
}

#copy-simulation-key {
    color: #aaaaaa;
}

#simulation-key-value .my-tooltiptext {
    background-color: red;
    visibility: hidden;
}

#simulation-key-value .my-tooltiptext::after {
    border-color: transparent transparent red transparent;
}

#copy-simulation-key:hover {
    color: #888888;
    cursor: pointer;
}

#hyperlink-panel {
    display: flex;
}

.nav-button {
    background-color: black;
    border: none;
    color: white;
    font-weight: 500;
    flex: 1;
    text-align: center;
    text-decoration: none;
}

.nav-button:not(:last-child) {
    border-right: 0.5px solid darkgrey;
}

#title:hover, .nav-button:hover {
    color: darkgrey;
}

/* Main */

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover, .clickable-row.hovered {
    background-color: #888888 !important;
    color: white !important;
}

#main {
    display: flex;
    flex: 1;
}

.half-container {
    flex: 1;
    padding: 5px;
}

.data-container {
    border: 2px solid black;
    border-radius: 5px;
    height: 100%;
    padding: 10px;
}

#always-data-container {
    background-color: #eeeeee;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "standings results"
        "performance results";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#sometimes-data-container {
    align-items: center;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
}

#sometimes-data-initial-text {
    align-items: center;
    background-color: #cccccc;
    color: #888888;
    display: flex;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 2em;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    padding: 25px;
    text-align: center;
}

.grid-item {
    background-color: white;
    border: 2px solid #dddddd;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.stretched-grid-item {
    background-color: white;
    border: 2px solid #dddddd;
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 100%;
    width: 100%;
}

#grid-item-standings {grid-area: standings;}
#grid-item-performance {grid-area: performance;}
#grid-item-results {grid-area: results;}

.grid-item-title {
    background-color: #888888;
    color: white;
    font-weight: 500;
    padding: 5px;
}

.grid-item-content {
    flex: 1;
    height: 1; /* Not really sure why this works but it sorts out player grid */
    overflow-y: auto;
    position: relative;
}

.full-table {
    left: 0px;
    height: 100%;
    padding: 5px;
    position: absolute;
    top: 0px;
    width: 100%;
}

/* League table */

#league-table th {
    padding: 2px;
}

.league-table-number-icon {
    display: none;
    height: 15px;
}

#league-table tr:not(:first-child):hover {
    background-color: #888888;
    color: white;
    cursor: pointer;
}

#league-table tr.controlClicked {
    color: blue;
    font-style: italic;
}

#league-table tr.controlClicked:not(:first-child):hover {
    color: blue;
    cursor: revert;
}

#league-table td {
    padding: 2px;
}

#league-table td:nth-child(2) {
    font-weight: 500;
}

#league-table td:nth-child(2),
#league-table td:nth-child(5),
#league-table td:nth-child(7),
#league-table td:nth-child(8) {
    border-right: 0.5px dashed darkgrey;
}

/* Player performance table */

.player-performance-table th {
    padding: 2px;
}

.player-performance-table th:not(:first-child) {
    cursor: pointer;
}

.player-performance-table th:first-child {
    width: 40px;
}

.player-performance-table th:hover .table-arrow {
    color: black;
}

.player-performance-table {
    text-align: left;
    left: 0px;
    height: 100%;
    padding: 5px;
    position: absolute;
    table-layout: fixed;
    top: 0px;
    width: 100%;
}

.player-performance-table th img {
    height: 20px;
}

#club-player-performance-table th:first-child,
#club-player-performance-table td:first-child {
    display: none;
}

#club-player-performance-table th:nth-child(n + 3) {
    width: 35px;
}

@media (max-width: 1500px) {
    #always-data-container .player-row-bottom {
        display: none !important;
    }

    .table-arrow {
        display: none !important;
    }
}

.table-arrow {
    color: #aaaaaa;
    font-size: 0.75em;
    padding-left: 3px;
}

.table-arrow:not(.table-unsorted-arrow) {
    display: none;
}

.table-unsorted-arrow {
    display: inline;
}

.player-performance-table tr:nth-child(even) {
    background-color: #eeeeee;
}

.player-performance-table th:not(:nth-child(-n + 2)):nth-child(-n + 6) {
    text-align: center;
}

.player-performance-table td:not(:nth-child(-n + 2)):nth-child(-n + 6) {
    text-align: center;
}

.player-row-top {
    overflow-x: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.player-row-bottom {
    color: #666666;
    font-size: 0.8em;
    overflow-x: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.player-row-bottom.mobile {
    display: none;
}

/* Results */

#results {
    border-collapse: separate;
    border-spacing: 0px 10px;
    font-size: 0.9em;
    height: 100%;
    table-layout: fixed;
    top: -25px;
    left: 0px;
    height: 100%;
    padding: 5px;
    position: absolute;
    width: 100%;
}

.result-date {
    background-image: linear-gradient(to right, white, #eeeeee, white);
    text-align: center;
}

.middle-bit {
    width: 45px;
}

.score-container {
    background-color: #eeeeee;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    text-align: center;
}

#results .clickable-row:hover .score-container {
    background-color: black;
}

/* td.result-club-score {
    background-color: #eeeeee;
    text-align: center;
}

 .result-home-club-score {
    border-bottom: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.result-score-dash {
    border-bottom: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
}

.result-away-club-score {
    border-bottom: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
} */

.winner {
    font-weight: bold;
}

td.result-club-name {
    font-size: 0.75em;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td.result-home-club-name {
    padding-right: 10px;
    text-align: right;
}

td.result-away-club-name {
    padding-left: 10px;
    text-align: left;
}

.player-row-top-club-name {
    color: #999999;
    font-size: 0.75em;
    font-style: italic;
}

.player-performance-table .clickable-row:hover .player-row-top-club-name,
.player-performance-table .clickable-row:hover .player-row-bottom,
.player-performance-table .clickable-row:hover .player-rating,
.player-performance-table .clickable-row:hover .pp-attributes {
    color: white !important;
}

#sometimes-iframe {
    height: 100%;
    width: 100%;
}

#player-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "summary radar"
        "games form";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#player-grid #grid-item-summary {
    grid-area: summary;
}

#player-grid #grid-item-stats-radar {
    grid-area: radar;
}

#player-grid #grid-item-games {
    grid-area: games;
}

#player-grid #grid-item-form {
    grid-area: form;
}

#development-graph-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

#grid-item-form #load-development-graph {
    border: none;
    border-radius: 5px;
    width: 100%;
}

#grid-item-form #load-development-graph:hover {
    background-color: #bbbbbb;
}

/* Player summary */

#player-summary-table {
    font-size: 0.9em;
    table-layout: fixed;
}

#player-summary-table td {
    border: 1px dashed #cccccc;
    padding: 0px 10px;
}

#player-summary-table .table-label {
    color: #999999
}

#player-summary-table .table-value {
    font-weight: 500;
}

#player-radar-image {
    /* height: 100%; */
    object-fit: contain;
    width: 100%;
}

.match-icon {
    height: 15px;
}

#player-game-table {
    font-size: 0.9em;
    table-layout: fixed;
}

#player-game-table th:first-child {
    width: 30px;
}

#player-game-table th:last-child {
    width: 50px;
}

#player-game-table tr:nth-child(odd) {
    background-color: #eeeeee;
}

.player-game-home-away {
    color: #bbbbbb;
    display: inline-block;
    width: 15px;
}

.player-game-opposition-name {
    font-size: 0.8em;
    overflow-x: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 1500px) {
    .player-game-opposition-name {
        display: block;
    }
}

.player-game-result.win {color: limegreen;}
.player-game-result.draw {color: darkorange;}
.player-game-result.loss {color: crimson;}

#player-form-graph-image,
#player-development-graph-image {
    object-fit: contain;
    width: 100%;
}

/* Fixtures */

#fixture-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "summary stats"
        "performance performance";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#fixture-grid #grid-item-summary {
    grid-area: summary;
}

#fixture-grid #grid-item-stats {
    grid-area: stats;
}

#fixture-grid #grid-item-performance {
    grid-area: performance;
}

.fixture-summary-container {
    margin: 5px;
}

.fixture-summary-header-container {
    padding: 5px;
    text-align: center;
}

#fixture-summary-result-headline {
    display: flex;
    margin-bottom: 5px;
}

.fixture-summary-team-name {
    border: 1px solid #cccccc;
    display: flex;
    flex: 4;
    font-weight: 500;
    padding: 5px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fixture-summary-team-name a {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#fixture-summary-score {
    align-items: center;
    color: white;
    background-color: #888888;
    display: flex;
    flex: 1;
    font-size: 1.2em;
    font-weight: 500;
    justify-content: center;
    min-width: 50px;
    padding: 5px;
    text-align: center;
    white-space: nowrap;
}

#fixture-summary-away-team-name {
    text-align: right;
}

#fixture-summary-goals {
    display: flex;
    height: 40%;
    overflow-y: auto;
}

.fixture-summary-team-goals {
    flex: 4;
    max-height: 0px;
}

#fixture-summary-goals-divider {
    flex: 1;
}

.fixture-summary-goal {
    display: flex;
    font-size: 0.8em;
}

.fixture-summary-goal:not(:last-child) {
    border-bottom: 1px dashed #cccccc;
}

.fixture-summary-goal-minute {
    align-items: center;
    display: flex;
    flex: 1;
    font-size: 1em;
    padding: 0px 5px;
}

#fixture-summary-away-team-goals .fixture-summary-goal-minute {
    justify-content: flex-end;
}

.fixture-summary-goal-players {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.fixture-summary-goal-player {
    padding: 0px 5px;
}

.fixture-summary-goal-player:hover {
    background-color: #888888;
    color: white;
    cursor: pointer;
}

.fixture-summary-goal-scorer {
    font-weight: 500;
}

.fixture-summary-goal-assister {
    color: #bbbbbb;
    font-size: 0.9em;
    padding: 0px 5px;
}

#fixture-summary-footer-container {
    background-color: #999999;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    display: block;
    font-size: 0.8em;
    font-weight: 500;
    margin: 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: -webkit-fill-available;
}

@media (min-width: 1500px) {
    #fixture-summary-footer-container {
        bottom: 0;
        position: absolute;
    }
}

#fixture-summary-footer-container:hover {
    background-color: #777777;
}

#fixture-players-main {
    display: flex;
    height: 100%;
}

.fixture-players-club {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 5px;
    overflow-y: auto;
}

.fixture-players-club-title {
    align-items: center;
    background-color: #eeeeee;
    color: black;
    display: flex;
    flex: 1;
    font-weight: 500;
    padding: 0px 5px;
}

.fixture-players-club table {
    flex: 9;
    position: initial;
    table-layout: fixed;
}

@media (max-width: 1500px) {
    .fixture-players-club table {
        font-size: 0.6em;
    }
}

.fixture-players-club table th {
    font-size: 13px;
}

.fixture-players-club table td:first-child {
    padding: 0px 5px;
    overflow-x: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fixture-players-club table th:not(:first-child) {
    text-align: center;
    width: 32px;
}

.fixture-players-club table td:not(:first-child) {
    text-align: center;
}

.fixture-players-club table td:last-child {
    font-weight: 500;
}

.fixture-players-club table th:first-child {
    padding: 0px 5px;
}

.fixture-players-club table td:first-child:hover {
    background-color: #888888;
    color: white;
    cursor: pointer;
}

.fixture-players-club table tr:nth-child(odd) {
    background-color: #eeeeee;
}

#fixture-statistics {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

.fixture-statistics-title {
    align-items: center;
    background-color: #eeeeee;
    color: black;
    display: flex;
    font-weight: 500;
    padding: 0px 5px;
}

#form-results-container {
    flex: 1;
}

.form-results-row {
    border: 1px dashed #aaaaaa;
    display: flex;
    margin: 5px;
}

.form-results-club-name, .form-results-boxes {
    flex: 1;
}

.form-results-club-name {
    padding: 5px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form-results-boxes {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 0px 10px;
}

.form-results-box {
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    display: flex;
    font-weight: bold;
    height: 25px;
    justify-content: center;
    text-decoration: none;
    width: 25px;
}

@media (max-width: 1500px) {
    .form-results-box {
        font-size: 0.7em;
        height: 18px;
        width: 18px;
    }
}

.form-results-box:hover {
    color: black;
    text-decoration: none;
}

a.result-W {
    background-color: lightgreen;
}

a.result-W:hover {
    background-color: #19a519;
}

a.result-D {
    background-color: lemonchiffon;
}

a.result-D:hover {
    background-color: #fff071;
}

a.result-L {
    background-color: lightpink;
}

a.result-L:hover {
    background-color: #ff5e76;
}

.form-results-points-container {
    align-items: center;
    border-left: 1px dashed lightgrey;
    display: flex;
    justify-content: center;
    width: 45px;
}

.form-results-points {
    align-items: center;
    background-color: black;
    border: 1px solid black;
    color: white;
    display: flex;
    font-weight: bold;
    height: 25px;
    justify-content: center;
    text-decoration: none;
    width: 25px;
}

#form-tables-container {
    display: flex;
    flex: 2;
    flex-direction: column;
}

#form-tables-master-title {
    height: 24px;
}

#form-tables-minor-titles-container {
    display: flex;
    height: 24px;
}

.form-tables-minor-title {
    flex: 1;
    font-size: 13px;
    font-weight: bold;
}

#form-tables-grid {
    display: grid;
    flex: 1;
    grid-template-areas:
        "prehome posthome"
        "preaway postaway";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.form-table-container {
    padding: 5px;
}

.form-table-container:nth-child(1) {grid-area: prehome;}
.form-table-container:nth-child(2) {grid-area: preaway;}
.form-table-container:nth-child(3) {grid-area: posthome;}
.form-table-container:nth-child(4) {grid-area: postaway;}

.form-table {
    font-size: 0.75em;
    height: auto !important; 
    position: initial !important;
    table-layout: fixed;
}

.form-table th:nth-child(1) {
    width: 20px;
}

.form-table th:nth-child(n + 3) {
    width: 25px;
}

@media (max-width: 1500px) {
    .form-table {
        font-size: 0.6em;
    }

    .form-table th:nth-child(1) {
        width: 15px;
    }
    
    .form-table th:nth-child(n + 3) {
        width: 20px;
    }
}

.form-table th {
    font-weight: normal;
}

.form-table th,
.form-table td {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form-table tr.color-param-this {
    background-color: #eeeeee;
    font-weight: bold;
}

.form-table tr.color-param-top4-border {
    border-bottom: 0.5px dashed black;
}

.form-table tr.color-param-bottom4-border {
    border-top: 0.5px dashed black;
}

.form-table tr.color-param-top4 {
    background-color: lightgreen;
}

.form-table tr.color-param-bottom4 {
    background-color: lightpink;
}

.form-table tr.color-param-this.color-param-top4 {
    background-color: #19a519 !important;
    color: white;
}

.form-table tr.color-param-this.color-param-bottom4 {
    background-color: #ff5e76 !important;
    color: white;
}

.form-table td:nth-child(2) {
    padding-right: 10px;
}

/* Club */

#club-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "players progress"
        "players results";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#club-grid #grid-item-players {
    grid-area: players;
}

#club-grid #grid-item-progress {
    grid-area: progress;
}

#club-grid #grid-item-results {
    grid-area: results;
}

#football-pitch-container {
    align-items: center;
    display: flex;
    height: 0;
    justify-content: center;
}

#club-player-performance-table {
    width: 100%;
}

@media (max-width: 1500px) {
    #club-player-performance-table {
        font-size: 0.75em;
    }
}

#club-player-performance-table .player-row-top {
    padding-left: 2px;
}

#club-player-performance-table .player-row-bottom {
    font-size: 0.9em;
    padding-left: 2px;
}

#club-player-performance-table tr:hover .player-row-bottom {
    color: white !important;
}

@media (max-width: 1500px) {
    .player-row-span:last-child {
        display: none;
    }
}

.rating-span {
    color: white;
    padding: 0px 2px;
}

#club-results {
    top: 40px;
    font-size: 0.9em;
    height: 100%;
    table-layout: fixed;
    left: 0px;
    height: 100%;
    padding: 5px;
    position: absolute;
    width: 100%;
}

#club-results tr td:first-child {
    width: 25px;
}

#club-results tr td:nth-child(2) {
    color: #bbbbbb;
    width: 25px;
}

.club-score-container {
    text-align: center;
}

.home-away-button {
    background-color: #dddddd;
    border: none;
    width: 100%;
}

.home-away-button:hover {
    background-color: #bbbbbb;
    cursor: pointer;
}

.home-away-button.clicked {
    background-color: black;
    color: white;
}

.clickable-row:hover .club-score-container {
    background-color: black !important;
}

#club-positions-graph-image {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

/* Player performance */

#pp-header {
    display: flex;
}

#pp-header .pp-sub-container {
    display: flex;
    flex: 1;
    height: 30px;
    padding: 5px 0px;
    margin-bottom: 5px;
}

#pp-header .pp-button-container {
    flex: 1;
}

#pp-header .pp-button-container:first-child {
    padding-right: 2.5px;
}

#pp-header .pp-button-container:last-child {
    padding-left: 2.5px;
}

#pp-header .view-button {
    background-color: #dddddd;
    border: none;
    width: 100%;
}

#pp-header .view-button:hover {
    background-color: #bbbbbb;
    cursor: pointer;
}

#pp-header .view-button.clicked {
    background-color: black;
    color: white;
}

.pp-filter-container {
    flex: 1;
}

#filter-by-container {
    padding-left: 5px;
}

#filter-detail-container {
    display: none;
}

#filter-by {
    width: 100%;
}

.player-performance-table tr:first-child th:nth-child(1) {
    min-width: 50px;
}

.player-performance-table tr:first-child th:nth-child(2) {
    min-width: 300px;
}

.player-performance-table th:nth-child(n + 3),
.player-performance-table td:nth-child(n + 3) {
    text-align: center;
    width: 50px;
}

.player-performance-table th:nth-child(n + 4) i {
    padding: 2px;
}

.player-performance-table th:nth-child(n + 4).hovered {
    background-color: grey !important;
    color: white !important;
}

.player-performance-table th:nth-child(n + 4).clicked {
    background-color: black;
    color: white !important;
}

#club-player-performance-table th:nth-child(n + 3).hovered,
#player-performance-table th:nth-child(n + 3).hovered {
    background-color: grey !important;
    color: white !important;
}

#club-player-performance-table th:nth-child(n + 3).clicked,
#player-performance-table th:nth-child(n + 3).clicked {
    background-color: black;
    color: white !important;
}

.player-performance-table .pp-attributes {
    display: none;
}

#pp-header .filter-detail {
    display: none;
}

#pp-header .filter-detail select {
    width: 100%;
}

#pp-header .filter-detail input {
    height: 25px;
    width: 100%;
}

#pp-header .pp-filter-container:first-child {
    padding-right: 2.5px;
}

#pp-header .pp-filter-container:last-child {
    padding-left: 2.5px;
}

/* Generic tooltip styling */

.my-tooltip {
    height: 100%;
    position: relative;
}

.my-tooltip .my-tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    font-size: 0.8em;
}

.my-tooltip .my-tooltiptext.below {
    top: 150%;
    left: 50%;
    margin-left: -75px;
}

.my-tooltip .my-tooltiptext.to-left {
    top: -2px;
    right: 115%;
    margin-left: -75px;
}

.my-tooltip .my-tooltiptext.below-left {
    top: 150%;
    left: -150%;
    margin-left: -75px;
}

.my-tooltip .my-tooltiptext::after {
    content: "";
    position: absolute;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
}

.my-tooltip .my-tooltiptext.below::after {
    bottom: 100%;
    left: 50%;
    border-color: transparent transparent black transparent;
}

.my-tooltip .my-tooltiptext.to-left::after {
    margin-left: -7.5px;
    top: 20%;
    left: 105%;
    border-color: transparent transparent transparent black;
}

.my-tooltip .my-tooltiptext.below-left::after {
    bottom: 100%;
    border-color: transparent transparent black transparent;
}

.left-91-percent::after {
    left: 91%;
}

.my-tooltip:hover .my-tooltiptext {
    visibility: visible;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover:not(.nav-element):not(.nav-button) {
    background-color: #aaaaaa;
    color: white;
    cursor: pointer;
}

.date-row {
    height: 25px;
}

.about-list li {
    margin: 10px;
}