<html>
    <head>
        <title>Soccer Simulation</title>
        <link rel="shortcut icon" type="image/png" href="/static/images/soccersim_logo.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/main.css?{{ randomString }}">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        {% for cssFile in cssFiles %}
            <link rel="stylesheet" href="/static/css/{{ cssFile }}?{{ randomString }}">
        {% endfor %}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="https://kit.fontawesome.com/3cd62817c9.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        {% for jsFile in jsFiles %}
            <script src="/static/js/{{ jsFile }}?{{ randomString }}"></script>
        {% endfor %}
    </body>
</html>