{% extends 'desktop/home.html' %}

{% block home_body %}
    <div id="left-button-container" class="button-container">
        <button id="new-simulation-button" class="simulation-button" data-url="/new-simulation">
            <div id="text">
                New Simulation
            </div>
            <div id="spinner" style="display: none; padding: 10px;">
                <img src="/static/images/spinner-cropped.gif" style="height: 15px;">
            </div>
        </button>
    </div>
    <div id="right-button-container" class="button-container">
        <button id="existing-simulation-button" class="simulation-button" data-url="/existing-simulation">
            <div id="text">
                Existing Simulation
            </div>
            <div id="spinner" style="display: none; padding: 10px;">
                <img src="/static/images/spinner-cropped.gif" style="height: 15px;">
            </div>
        </button>
    </div>
{% endblock %}