{% extends 'desktop/home.html' %}

{% block home_body %}
    <div class="button-container">
        <form method="post" id="new-simulation-form" class="simulation-form">
            <div class="form-group">
                <label for="system">
                    System
                </label>
                <select id="system-select" name="system">
                    {% for system in systems %}
                        <option value="{{ system._id }}">
                            {{ system.system_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="num-clubs">
                    Number of clubs
                </label>
                <input type="number" name="num-clubs" min="8" max="50" step="2" required>
            </div>
            <div class="form-group">
                <label for="num-players-per-club">
                    Number of players per club
                </label>
                <input type="number" name="num-players-per-club" min="15" max="60" required>
            </div>
            <hr>
            <div class="form-group">
                <button class="simulate-button">
                    <div id="text">
                        Simulate
                    </div>
                    <div id="spinner" style="display: none; padding: 10px;">
                        <img src="/static/images/spinner-cropped.gif" style="height: 15px;">
                    </div>
                </button>
            </div>
        </form>
    </div>
{% endblock %}