{% extends 'desktop/base.html' %}
{% block body %}
<div id="home-container">
    <a href="/" id="logo-title-container" class="home-sub-container">
        <img id="logo" class="logo-title-element" src="/static/images/soccersim_logo.png">
        <div id="title" class="logo-title-element">Soccer Simulation</div>
    </a>
    <div id="home-buttons-container" class="home-sub-container">
        {% block home_body %}
        {% endblock %}
    </div>
</div>
<div id="links">
    <div class="link">
        <a href="/about">About</a>
    </div>
    <div class="link">
        <a href="/contact">Contact</a>
    </div>
</div>
{% endblock %}