<table id="player-summary-table" class="full-table">
    <tr>
        <td class="table-label">Club</td>
        <td class="table-value"><a data-url="/simulation/club/{{ player.club.id }}">{{ player.club.name }}</a></td>
    </tr>
    <tr>
        <td class="table-label">Age</td>
        <td class="table-value">{{ player.getAge(2) }}</td>
    </tr>
    <tr>
        <td class="table-label">Rating</td>
        <td class="table-value">{{ '{0:.2f}'.format(player.getRating()) }}</td>
    </tr>
    <tr>
        <td class="table-label">Peak age</td>
        <td class="table-value">{{ '{0:.2f}'.format(player.peakAge) }}</td>
    </tr>
    <tr>
        <td class="table-label">Peak rating</td>
        <td class="table-value">{{ '{0:.2f}'.format(player.peakRating) }}</td>
    </tr>
    <tr>
        <td class="table-label">Best position</td>
        <td class="table-value">{{ player.getBestPosition() }}</td>
    </tr>
    <tr>
        <td class="table-label">Games</td>
        <td class="table-value">{{ performanceIndices['games'] }}</td>
    </tr>
    <tr>
        <td class="table-label">Goals</td>
        <td class="table-value">{{ performanceIndices['goals'] }}</td>
    </tr>
    <tr>
        <td class="table-label">Assists</td>
        <td class="table-value">{{ performanceIndices['assists'] }}</td>
    </tr>
    <tr>
        <td class="table-label">Average Performance Index</td>
        <td class="table-value">{{ '{0:.2f}'.format(performanceIndices['performanceIndex']) }}</td>
    </tr>
    <tr>
        <td class="table-label">Injuries</td>
        <td class="table-value">
            <ul style="font-size: 0.8em; margin-block-end: 0px; padding-inline-start: 10px;">
                {% for injury in performanceIndices['injuries'] %}
                    <li>
                        {{ injury }}
                    </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>