<div id="fixture-statistics">
    <div id="form-results-container">
        <div id="form-results-title" class="fixture-statistics-title">
            Pre-match form
        </div>
        {% for club, data in recentResults.items() %}
           <div class="form-results-row">
                <div class="form-results-club-name">
                    <a data-url="/simulation/club/{{ club.id }}">{{ club.name }}</a>
                </div>
                <div class="form-results-boxes">
                    {% for result in data['results'] %}
                        <div class="my-tooltip">
                            <a href="/simulation/fixture/{{ result['fixtureId'] }}" class="form-results-box result-{{ result['result'] }}" data-url="/simulation/fixture/{{ result['fixtureId'] }}">
                                {{ result['result'] }}
                            </a>
                            <span class="my-tooltiptext below">
                                {{ result['score'] }}
                            </span>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-results-points-container">
                    <div class="form-results-points">
                        {{ data['points'] }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="form-tables-container">
        <div id="form-tables-master-title" class="fixture-statistics-title">
            Tables
        </div>
        <div id="form-tables-minor-titles-container">
            <div class="form-tables-minor-title fixture-statistics-title">
                Pre-match
            </div>
            <div class="form-tables-minor-title fixture-statistics-title">
                Post-match
            </div>
        </div>
        <div id="form-tables-grid" data-num-clubs="{{ numClubs }}">
            {% for leagueTables in [preMatchLeagueTables, postMatchLeagueTables] %}
                {% for club, table in leagueTables['data'].items() %}
                    <div class="form-table-container">
                        <table class="form-table full-table">
                            <tr>
                                <th>#</th>
                                <th>Team</th>
                                <th>GD</th>
                                <th>Pts</th>
                            </tr>
                            {% for item in table %}
                                <tr class="{{ item[1]['colorParams'] }}">
                                    <td>{{ item[1]['#'] }}</td>
                                    <td><a data-url="/simulation/club/{{ item[0].id }}">{{ item[0].name }}</a></td>
                                    <td>{{ item[1]['GD'] }}</td>
                                    <td>{{ item[1]['Pts'] }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>