<div class="fixture-summary-header-container fixture-summary-container">
    {{ '{} · Division {}'.format(fixture['match']['matchReport'].tournament.system.name, 1)  }}
</div>
<div class="fixture-summary-header-container fixture-summary-container">
    {{ 'Gameweek {} · {}'.format(fixture['match']['matchReport'].gameweek, fixture['match']['matchReport'].date.strftime('%Y-%m-%d'))  }}
</div>
<div id="fixture-summary-result" class="fixture-summary-container">
    <div id="fixture-summary-result-headline">
        <div id="fixture-summary-home-team-name" class="fixture-summary-team-name">
            <a data-url="/simulation/club/{{ homeClubData['id'] }}">{{ homeClubData['name'] }}</a>
        </div>
        <div id="fixture-summary-score">
            {{ '{} - {}'.format(homeClubData['match']['goalsFor'], awayClubData['match']['goalsFor']) }}
        </div>
        <div id="fixture-summary-away-team-name" class="fixture-summary-team-name">
            <a data-url="/simulation/club/{{ awayClubData['id'] }}">{{ awayClubData['name'] }}</a>
        </div>
    </div>
    <div id="fixture-summary-goals">
        <div id="fixture-summary-home-team-goals" class="fixture-summary-team-goals">
            {% if homeClubData['match']['goals'] is not none %}
                {% for goal in homeClubData['match']['goals'] %}
                    <div class="fixture-summary-goal">
                        <div class="fixture-summary-goal-minute">
                            {{ goal['minute'] }}'
                        </div>
                        <div class="fixture-summary-goal-players">
                            <div class="fixture-summary-goal-scorer fixture-summary-goal-player" data-player-id="{{ goal['scorer'].id }}">
                                {{ goal['scorer'].getProperName() }}
                            </div>
                            {% if goal['assister'] is not none %}
                                <div class="fixture-summary-goal-assister fixture-summary-goal-player" data-player-id="{{ goal['assister'].id }}">
                                        {{ goal['assister'].getProperName() }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div id="fixture-summary-goals-divider"></div>
        <div id="fixture-summary-away-team-goals" class="fixture-summary-team-goals">
            {% if awayClubData['match']['goals'] is not none %}
                {% for goal in awayClubData['match']['goals'] %}
                    <div class="fixture-summary-goal">
                        <div class="fixture-summary-goal-players">
                            <div class="fixture-summary-goal-scorer fixture-summary-goal-player" data-player-id="{{ goal['scorer'].id }}">
                                {{ goal['scorer'].getProperName() }}
                            </div>
                            {% if goal['assister'] is not none %}
                                <div class="fixture-summary-goal-assister fixture-summary-goal-player" data-player-id="{{ goal['assister'].id }}">
                                        {{ goal['assister'].getProperName() }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="fixture-summary-goal-minute">
                            {{ goal['minute'] }}'
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<a href="/simulation/fixture/{{ reverseFixture.fixtureId }}" id="fixture-summary-footer-container">
    {{ 'Reverse fixture: {} {} - {} {}'.format(reverseFixture['homeTeam'], reverseFixture['homeGoals'], reverseFixture['awayGoals'], reverseFixture['awayTeam']) }}
</a>